html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "WorkSans-Regular";
}

#app {
  background-color: #f5f6f5;
}

#container {
  position: relative;
  overflow-y: scroll;
  height: calc(100vh - 56px);
  width: 100%;
}

#main {
  display: flex;
  position: relative;
}

.wrapper {
  max-width: 2000px;
  display: flex;
  align-items: start;
  margin: 1rem 3rem;
  flex: 2 1 85%;
  background-color: #f5f6f5;
}

.overlay {
  background-color: rgba(60, 19, 69, 0.8);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  bottom: 0;
  z-index: 2;
}

/* Infobox */

.info {
  display: flex;
  align-items: flex-start;
  flex: 1 2 15%;
  position: relative;
  background: #fff;
  color: #3c1345;
  min-width: 250px;
}

.info-inner {
  padding: 0.3rem 1rem;
  display: flex;
  flex-direction: column;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.employee-container {
}

.year-selector {
  display: flex;
  justify-content: center;
}

.year-selector-text {
  font-size: 3rem;
  font-weight: 500;
  color: #6600ff;
  margin: auto 0;
}

.info h5 {
  color: #9b9b9b;
}

.info-box {
  padding: 3rem 0;
}

.info-box p {
  margin: 1rem 0;
  font-size: 1.4rem;
}

.vacation-box {
  font-family: "Courier New", Courier, monospace;
}

.vacation-box div {
  display: flex;
  justify-content: space-between;
}

.vacation-box-pink {
  color: #fe386e;
}

.vacation-box-purple {
  color: #6600ff;
}

.vacation-box-dotted {
  border-bottom: 1px dashed #3c1345;
}

.vacation-box-line {
  border-bottom: 1px solid #3c1345;
}

.vacation-box-double {
  border-bottom: 3px double #3c1345;
}

.vacation-box-number {
  font-size: 2rem !important;
}

.info-list {
  list-style: none;
  padding-left: 0;
  margin: 0.2rem 0;
  font-size: 1.3rem;
}

.info-list li {
  line-height: 1.6rem;
}

.info-list li span {
  text-decoration: underline;
}

/* Calendar */

.year-calendar {
  display: flex;
  flex-wrap: wrap;
}

.month {
  width: 24rem;
  max-width: 90vw;
  margin: 1rem 0.5rem;
  position: relative;
}

.calendar-header {
  display: flex;
  justify-content: space-around;
  font-weight: 400;
}

.calendar-header-day {
  color: #9b9b9b;
  padding: 0.5rem;
  font-size: 0.8rem;
}

.calendar-dates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}

.month-header {
  color: #3c1345;
  border-bottom: 1px solid #9b9b9b;
  margin: 0;
}

.month-header-past {
  color: #3c1345ab;
  border-bottom: 1px solid #d5d5d5;
  margin: 0;
}

/* Scrollbar */

.scrollbar {
  position: sticky;
  position: -webkit-sticky;
  top: 25%;
  right: 3px;
  z-index: 2;
  border-radius: 10px;
  display: none;
}

.scrollbar p {
  margin: 0;
  line-height: 1.4rem;
  color: #6415fb;
}

::-webkit-scrollbar {
  display: none;
}

/* Calendar date */

.date {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: calc(100% / 5);
  height: 4rem;
  border: 1px solid #f5f6f5;
  background-color: #fff;
  color: #6600ff;
  cursor: default;
}

.date-past {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff9c;
}

.date-disabled {
  background-color: #f5f6f5 !important;
}

.date-editable:hover {
  cursor: pointer;
  background-color: #efe5ff !important;
}

.date-inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.date-number {
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  font-size: 1.2rem;
}

.date-text {
  line-height: 0.9rem;
  margin-bottom: 0.4rem;
  margin-left: 0.4rem;
}

.date-clicked {
  background-color: #6600ff !important;
  border: 0;
  border-right: 1px solid #6600ff !important;
  border-left: 1px solid #6600ff !important;
  margin: 1px 0;
  z-index: 8;
}

.date-clicked .date-number {
  color: #fff !important;
}

.date-clicked .date-text {
  color: #6600ff !important;
}

.date-clicked:hover {
  background-color: #6600ff !important;
}

/* Events */

.year-calendar .event-weekend .date-text,
.year-calendar .event-holiday .date-text,
.year-calendar .event-weekend .date-number,
.year-calendar .event-holiday .date-number {
  color: #e12b38;
}

.event-vacation {
  color: #3c1345;
  background: #38fbfe;
}

.event-sick {
  color: #3c1345;
  background: #fff081;
}

.event-sick-child {
  color: #3c1345;
  background: #fff081;
}

.event-leave {
  color: #3c1345;
  background: #12eb81;
}

.event-leave-with-pay {
  color: #3c1345;
  background: #fe386e;
}

.event-leave-without-pay {
  color: #fff;
  background: #3c1345;
}

.event-parent-leave {
  color: #3c1345;
  background: #fe386e;
}

.event-vacation-partial {
  color: #3c1345;
  background: #fff081;
  background: -webkit-linear-gradient(45deg, #38fbfe 50%, #38fbfe8a 50%);
}

.event-sick-partial {
  color: #3c1345;
  background: #fff081;
  background: -webkit-linear-gradient(45deg, #fff081 50%, #fff0818a 50%);
}

.event-sick-child-partial {
  color: #3c1345;
  background: #fff081;
  background: -webkit-linear-gradient(45deg, #fff081 50%, #fff0818a 50%);
}

.event-leave-partial {
  color: #3c1345;
  background: #12eb81;
  background: -webkit-linear-gradient(45deg, #12eb81 50%, #12eb818a 50%);
}

.event-leave-with-pay-partial {
  color: #3c1345;
  background: #fe386e;
  background: -webkit-linear-gradient(45deg, #fe386e 50%, #fe386d8a 50%);
}

.event-leave-without-pay-partial {
  color: #fff;
  background: #3c1345;
  background: -webkit-linear-gradient(45deg, #3c1345 50%, #3c13458a 50%);
}

.event-parent-leave-partial {
  color: #3c1345;
  background: #fe386e;
  background: -webkit-linear-gradient(45deg, #fe386e 50%, #fe386d8a 50%);
}

/* Absence reasons */

.absence-reasons {
  z-index: 5;
  position: absolute;
  top: calc(4rem - 1px);
  right: -1px;
  list-style: none;
  padding-left: 0;
  margin: 0;
  width: 240px;
  background: #fff;
}

.absence-reasons li {
  margin-bottom: 2px;
  font-size: 1.2rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
}

.absence-reasons-summary {
  display: none;
  background-color: #fff;
}

.absence-reasons-summary h5 {
  margin: 0.3rem 0;
}

.absence-reasons-summary p {
  margin: 0;
  color: #000;
}

.absence-reasons-nothing {
  background-color: #efe5ff;
  color: #3c1345;
  display: flex;
  justify-content: space-between;
}

.cross {
  background-color: #3c1345;
  color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 1.2rem;
  font-family: "Comic Sans MS", cursive, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  position: absolute;
  right: -25px;
  top: -5px;
}


/* RESPONSIVE */

@media only screen and (max-width: 950px) {
  #main {
    flex-direction: column;
    height: auto;
  }
  .info-inner {
    padding: 0.5rem;
  }
  .info-box {
    min-width: 0;
    padding: 1rem 0;
  }
  .wrapper {
    margin: 1rem 0.5rem;
  }
  .absence-reasons {
    position: fixed;
    width: 94%;
    right: 3%;
    bottom: 3%;
    top: auto;
  }
  .absence-reasons-summary {
    display: list-item;
  }
  .scrollbar {
    display: block;
  }
  .absence-box {
    display: none;
  }
}


@media only screen and (min-width: 2400px) {
  .month {
    width: 32rem;
  }
  .date {
    height: 5rem;
  }
  .absence-reasons {
    top: calc(5rem - 1px);
  }
}