body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div.main {
  padding: 1rem;
  padding-top: 4rem;
}

table.calendar {
  margin: 1rem;
  border-spacing: 0rem;
  border-collapse: collapse;
}

table.edit-mode {
  border-spacing: 0.1rem;
  border-collapse: separate;
}

table.calendar td {
  padding: 0rem;
  margin: 0rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
}

table.calendar td.edit-mode {
  border: 1px dashed #f00;
  cursor: pointer;
  background-color: #fff6ff;
}

table.calendar td.edit-mode:hover {
  cursor: pointer;
  color: #000;
  background-color: #ffa;
}

table.calendar td.weekend {
  font-weight: bold;
  color: #d93030;
  background-color: #eee;
}

table.calendar td.event-holiday {
  font-weight: bold;
  color: #d93030;
  background-color: #eee;
}

table.calendar td.event-vacation, div.event-vacation {
  color: #fff;
  background-color: #009ed9;
}

table.calendar td.event-sick, div.event-sick {
  color: #fff;
  background-color: #d93030;
}

table.calendar td.event-leave, div.event-leave {
  color: #fff;
  background-color: #1eb222;
}

div.legend {
  float: left;
  border: 1px solid #ccc;
  width: 2rem;
  height: 2rem;
  margin: 0.6rem;
}
